# Default ignored files
/../../PresidentialElections./.idea/shelf/
/../../PresidentialElections./.idea/workspace.xml
# Datasource local storage ignored files
/../../PresidentialElections./.idea/dataSources/
/../../PresidentialElections./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../PresidentialElections./.idea/httpRequests/
